/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-feb-2022, 10:32:39
    Author     : RYUU
*/


:root {
    --main-color: #00D947; /* verde */
}


.caNaPac { /*  CAJA DEL NAME PACIENTE  */
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 0;
}
.caNaPac p:first-child { /* label de paciente */
    margin-right: 8px;
    font-weight: 500;
    font-size: 14pt;
}
.caNaPac p:last-child { /* dato del paciente */
    font-size: 14pt;
}




.contenedor-cajas {
    /*border: 1px solid red;*/
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 590px);
    grid-template-rows: auto;
    grid-gap: 15px;
}


.c1 {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.c1 .c1Ti {
    background-color: var(--main-color);
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border-radius: 10px;*/
    padding: 8px 8px;
}

.c1 .c1Co {
    padding: 8px 8px;
}

.c1:first-child .c1Co {
    display: flex;
    flex-wrap: wrap;
}
.c1:first-child .c1Co div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 12px;
    margin-bottom: 8px;
}
.c1:first-child .c1Co div p {
    margin-bottom: 5px;
    margin-right: 8px;
}
.c1:first-child .c1Co div input[type="text"] {
    width: calc(600px/7);
}

/* textarea dentro de los divs  */
.c1 .c1Co div {
    overflow: hidden;
}
.c1 .c1Co div textarea {
    border: 1px solid rgba(0,0,0,0.2);
    width: 560px;
    min-width: 560px;
    max-width: 560px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    background-color: #F1F5F9;
    word-break: break-all;
}
.c1 .c1Co div textarea:focus {
    background-color: #fff;
}

/*
    COMBO BOX DE SERVICIOS 
*/
.c1 .c1Co .c1CoCBS {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c1 .c1Co .c1CoCBS select {
    width: 350px;
}


/*
    GRILLA DE SERVICIO ---------    
*/
.c1 .c1Co .c1CoGS {
    /*border: 1px solid red;*/
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
}


/*
    PANEL QUE ALMACENA EL BOTON PARA GUARDAR LA FICHA DE ATENCION DEL PACIENTE Y EL BOTON PARA VOLVER ATRAS 
*/
.btns_atencion {
    /*border: 2px solid blue;*/
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin: auto;
}
.btns_atencion .btngua {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 15px;
}





.tableExample {
    /*border: 2px solid green;*/
    /*border: 1px solid #ccc;*/
    border: none;
    min-width: 550px;
    width: 550px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    
    display: block;
    /*position: relative;*/
    height: 140px;
    max-height: 140px;
    overflow: auto;
}
.tableExample thead, 
.tableExample tbody {
    display: block;
}
.tableExample tr {
    border: 1px solid #ddd;
    padding: 5px;
}
.tableExample tbody tr:nth-child(even) {
    background-color: #666;
}
.tableExample tbody tr:nth-child(even) td span {
    color: #fff;
}
.tableExample td, 
.tableExample th {
    padding: 10px;
    text-align: center;
}
.tableExample th {
    text-transform: uppercase;
    font-family: 18px;
    letter-spacing: 1px;
}
/*
        --  COLUMNAS  --     
*/
.tableExample thead tr .TSCDS { /* TSCDS : table servicio columna descripcion servicio */
    text-align: center;
}
.tableExample tbody tr .TSCDS { /* TSCDS : table servicio columna descripcion servicio */
    text-align: left;
}
.tableExample thead tr .TSCDS, 
.tableExample tbody tr .TSCDS { /* TSCDS : table servicio columna descripcion servicio */
    width: 280px;
    min-width: 280px;
    max-width: 280px;
/*    width: 250px;
    min-width: 250px;
    max-width: 250px;*/
}
.tableExample thead tr .TSCM { /* TSCM : table servicio columna monto */
    text-align: center;
}
.tableExample tbody tr .TSCM { /* TSCM : table servicio columna monto */
    text-align: right;
}
.tableExample thead tr .TSCM, 
.tableExample tbody tr .TSCM { /* TSCM : table servicio columna monto */
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}
.tableExample thead tr .TSCBE, 
.tableExample tbody tr .TSCBE { /* TSCBE : table servicio columna boton eliminar */
    /*border: 1px solid green;*/
    text-align: center;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}



@media only screen and (max-width: 1200px) {
    
    .contenedor-cajas {
        /*border: 2px solid black;*/
        grid-template-columns: repeat(1, 600px);
    }
    
}

@media only screen and (max-width: 768px) {
    
    .contenedor-cajas {
        grid-template-columns: repeat(1, 400px);
    }
    
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 {
        /*border: 2px solid red;*/
        width: 550px;
        min-width: 550px;
        max-width: 550px;
    }
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 .c1Co div textarea {
        width: 490px;
        min-width: 490px;
        max-width: 490px;
    }
    
    .tableExample { /* table ficha atencion paciente servicio */
        width: 470px;
        min-width: 470px;
        /*border: 1px solid blue;*/
    }
    .tableExample tbody tr {
        width: 100%;
        min-width: 100%;
        margin-bottom: 10px;
        display: block;
        /*border: 1px solid red;*/
        border-bottom: 2px solid #ddd;
    }
    .tableExample tbody tr td {
        display: block;
        text-align: right;
        font-size: 16px;
/*        border: 2px solid green;*/
        border-bottom: 1px dotted #ccc;
    }
    .tableExample td:last-child {
        border-bottom: 0;
    }
    .tableExample tbody td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 600;
    }
    .tableExample thead {
        display: none;
    }
    /*      --- COLUMNAS ---         */
    .tableExample thead tr .TSCDS, 
    .tableExample tbody tr .TSCDS { /* TSCDS : table servicio columna descripcion servicio */
        /*border: 1px solid red;*/
        position: relative;
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .tableExample tbody tr .TSCDS span { /* TSCDS : table servicio columna descripcion servicio */
        /*border: 1px solid green;*/
        position: absolute;
        right: 0;
    }
    .tableExample thead tr .TSCM, 
    .tableExample tbody tr .TSCM { /* TSCM : table servicio columna monto */
        text-align: right;
        /*border: 1px solid blue;*/
        position: relative;
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .tableExample tbody tr .TSCM span { /* TSCM : table servicio columna monto */
        /*border: 1px solid green;*/
        position: absolute;
        right: 0;
    }
    .tableFAPServ thead tr .TSCBE, 
    .tableFAPServ tbody tr .TSCBE { /* TSCBE : table servicio columna boton eliminar */
        /*border: 1px solid blue;*/
        position: relative;
        display: flex;
        text-align: center;
/*        width: 450px;
        min-width: 450px;
        max-width: 450px;*/
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .tableFAPServ tbody tr .TSCBE span { /* TSCBE : table servicio columna boton eliminar */
        /*border: 2px solid blue;*/
        position: absolute;
        right: 0;
        width: 100%;
    }
    
}


@media screen and (max-width: 600px) {
    
    .contenedor-cajas {
        grid-template-columns: repeat(1, 400px);
    }
    
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 {
        /*border: 2px solid blue;*/
        width: 500px;
        min-width: 500px;
        max-width: 500px;
    }
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 .c1Co div textarea {
        /*border: 1px solid red;*/
        width: 450px;
        min-width: 450px;
        max-width: 450px;
    }
    .btnAS { /*   BOTON QUE UTILIZO PARA AGREGAR SERVICIOS   */ 
        margin-top: 5px;
    }
    .tableExample { /* table ficha atencion paciente servicio */
        width: 470px;
        min-width: 470px;
        /*border: 2px solid green;*/
    }
    
}


@media only screen and (max-width: 540px) {
    
    .contenedor-cajas {
        grid-template-columns: repeat(1, 400px);
    }
    
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 {
        /*border: 2px solid red;*/
        width: 450px;
        min-width: 450px;
        max-width: 450px;
    }
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 .c1Co div textarea {
        /*border: 1px solid blue;*/
        width: 420px;
        min-width: 420px;
        max-width: 420px;
    }
    .tableExample { /* table ficha atencion paciente servicio */
        width: 400px;
        min-width: 400px;
        /*border: 2px solid yellow;*/
    }
    
}


@media only screen and (max-width: 500px) {
    
    .contenedor-cajas {
        grid-template-columns: repeat(1, 400px);
    }
    
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 {
        /*border: 2px solid green;*/
        width: 400px;
        min-width: 400px;
        max-width: 400px;
    }
    /* HAGO MAS CHICO LOS TEXTAREA PORQUE SOBRESALEN MUCHO */
    .c1 .c1Co div textarea {
        /*border: 2px solid yellow;*/
        width: 380px;
        min-width: 380px;
        max-width: 380px;
    }
    .tableExample { /* table ficha atencion paciente servicio */
        width: 370px;
        min-width: 370px;
        /*border: 2px solid red;*/
    }
    
}
